# Node.js dependencies
node_modules/

# Build output
dist/

# Environment variables
.env

# Firebase credentials
credentials/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db
.vercel
